@using Ory.Kratos.Client.Model

@model InputModel

<div class="relative w-full">
    <input class="w-full text-sm px-4 py-3 bg-gray-200 border border-gray-200 rounded-lg focus:bg-gray-100 focus:outline-none focus:border-purple-400"
        type="@Model.Attributes.Type"
        name="@Model.Attributes.Name"
        id="@Model.Attributes.Name"
        placeholder="@Model.Label"
        disabled="@Model.Attributes.Disabled"
        required="@Model.Attributes.Required"
        value="@(Model.Attributes.Value ?? string.Empty)"
        onclick="@Model.Attributes.Onclick" />
        @*@switch (Model.Attributes.Type)
        {
            case KratosUiNodeInputAttributes.TypeEnum.Password:
                <div class="flex items-center absolute inset-y-0 right-0 mr-3 text-sm leading-5 purple-400">
                    <span class="material-icons">lock</span>
                </div>
                break;

            case KratosUiNodeInputAttributes.TypeEnum.Email:
                <div class="flex items-center absolute inset-y-0 right-0 mr-3 text-sm leading-5 purple-400">
                    <span class="material-icons">mail</span>
                </div>
                break;
        }*@
</div>