@using Ory.Kratos.Client.Model

@model KratosUiNode

@{
    var attributes = Model.Attributes.GetKratosUiNodeInputAttributes();
}

<div class="relative w-full">
    <input class="w-full text-sm px-4 py-3 bg-gray-200 border border-gray-200 rounded-lg focus:bg-gray-100 focus:outline-none focus:border-purple-400"
           type="@attributes.Type"
           name="@attributes.Name"
           id="@attributes.Name"
           pattern="@attributes.Pattern"
           placeholder="@(Model.Meta?.Label?.Text ?? string.Empty)"
           disabled="@attributes.Disabled"
           value="@attributes.Value"
           onclick="@attributes.Onclick" />
    <div class="flex items-center absolute inset-y-0 right-0 mr-3 text-sm leading-5 purple-400">
        <span class="material-icons">
        @switch(attributes.Type)
        {
            case KratosUiNodeInputAttributes.TypeEnum.Password:
                <text>lock</text>
                break;

            case KratosUiNodeInputAttributes.TypeEnum.Email:
            case KratosUiNodeInputAttributes.TypeEnum.Text:
                <text>person</text>
                break;

            case KratosUiNodeInputAttributes.TypeEnum.Number:
                <text>calculator</text>
                break;

            case KratosUiNodeInputAttributes.TypeEnum.Url:
                <text>browser</text>
                break;
        }
        </span>
    </div>
</div>

@if (Model.Messages is not null && Model.Messages.Any())
{
    <div class="space-y-2 my-2 w-full">
        <partial name="Controls/_FormMessage" for="@Model.Messages" />
    </div>
}